<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Jay_Test>
			<version>1.0.1</version>
		</Jay_Test>
	</modules>
	<global>
		<resources>
			<jay_test_setup>
				<setup>
					<module>Jay_Test</module>
				</setup>
			</jay_test_setup>
		</resources>
		<helpers>
			<jay_test>
				<class>Jay_Test_Helper</class>
			</jay_test>
		</helpers>
		<blocks>
			<jay_test><!-- this is an alias -->
				<class>Jay_Test_Block</class>
				<name>Jay Test</name>
			</jay_test>
		</blocks>
		<models>
			<jay_test>
				<class>Jay_Test_Model</class>
				<resourceModel>jay_test_resource</resourceModel>
			</jay_test>
			<jay_test_resource>
				<class>Jay_Test_Model_Resource</class>
				<entities>
					<mytest>
						<table>jay_test_mytest</table>
					</mytest>
				</entities>
			</jay_test_resource>
		</models>
	</global>
	<frontend>
		<routers>
			<jay_test>
				<use>standard</use>
				<args>
					<module>Jay_Test</module>
					<frontName>jaytest</frontName>
				</args>
			</jay_test>
		</routers>
		<layout>
			<updates>
				<jay_test>
					<file>jay_test.xml</file>
				</jay_test>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<jay_test before="Mage_Adminhtml">Jay_Test_Adminhtml</jay_test>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>